.App {
  text-align: center;
}

.tab {
  display: inline-block;
  min-width: 50px;
  padding: 0px 15px;
  height: 30px;
  border: 1px solid black;
  margin: 5px;
}
.activetab {
  background-color: black;
  color: white;
}
.Content {
  display:block;
  width: 970px;
  height: 400px;
  border: 1px solid black;
  margin: 5px auto;
  text-align: left;
  padding: 5px;
}